#Assignment Solution

The drakes equation had 4 variable factors as listed below

* n = Avg. number of planets that can support life
* i = Percentage of those which can go to develop intelligent life
* c = Percentage of those who are willing to contact
* l = Expected Lifetime of civilisation

Rest of the factors are constant as listed below

* R (Rate of star creation) = 7
* p (Percentage of stars with planets) = 40%
* f (Percentage of planets that can develop life) = 13%

In [44]:
#Let's declare the values for the constants

R = 7       # Rate of star creation
p = 40/100  # Percentage of stars with planets
f = 13/100  # Percentage of planets that can develop life


#Let's get user input for the varible factors for the equation
n = int(input("How many planets per star do you think can support life? "))
i = float(input("What percentage of these do you think can develop intelligent life? "))/100
c = float(input("What percentage of the planets do you think can communicate? "))/100
L = int(input("What do expect the lifetime of their civilization to be? (in years) "))

num_detectable_civilizations = R * p * f * n * i * c * L

print("\n")
print("Based on the values entered the number of detectable civilizations is :", num_detectable_civilizations)

How many planets per star do you think can support life? 2
What percentage of these do you think can develop intelligent life? 15.3
What percentage of the planets do you think can communicate? 70.3
What do expect the lifetime of their civilization to be? (in years) 5000


Based on the values entered the number of detectable civilizations is : 391.51476

#Control Statements

Control Statements are used to control the flow of execution of the program.

These are of 3 types :-


1.   Conditional Statements
2.   Iteration Statements
3.   Jump Statements

##Indentation
Indentation means to leave a equal number of white spaces on the left of the line of code.

To uniquely identify the statements in a block of equal number of spaces must be left on the left side of a line code.

This also helps in increasing the readability of the code.

##Conditional Statements

These statements are used when we want a block of code to be executed based on a certain condition.

###If Statement

This statement is used when we want to execute a block of code if a certain condition is true.

The code in the if block must be indented to prevent any indentation errors.

In [45]:
# The code in an if block must be indented else we get an indentation error
num1 = 10
num2 = 20

if num1 < num2:
print("num 2 is greater.")

IndentationError: ignored

In [0]:
num1 = 30
num2 = 20

if num1 < num2:
    print("num 2 is greater.") # indentation

We can use membership operators with if

In [0]:
if "Happy" in "Happy Learning":
    print("Happy")

Happy

In [0]:
if 1 not in range(0,5):
    print("1 is not in the list")

###if  else Statement

These statements are used if there is more than one condition to be tested.

In [49]:
num1 = 30
num2 = 20

if num1 > num2:
    print("num 1 is greater.")  # when the condition is true
else:
    print("num 2 is greater.")  # when the condition is fale

num 1 is greater.

###elif statement

This is used after an if for covering all other condition.

In [52]:
num1 = 20
num2 = 30

if num1 > num2:
    print("num 1 is greater.")
elif num2 > num1:
    print("num 2 is greater.")
else:
    print("num 1 equals num 2")

num 2 is greater.

###Nested if else

Nested conditional statements means a conditional statement within a conditional statement.

In [55]:
num = -4

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Negative number

###Shorthand's

Shorthand means to a smaller or consise way of writing the code that interprets to same output.

In [57]:
# Shorthand for else statement
num1 = 30
num2 = 20

print("num 1 is greater.") if num1 > num2 else print("num 2 is greater.")

num 1 is greater.

The above technique is also known as a ternary operation.

###Using multiple conditions

If we want more than one condition to be checked before the execution of particular code we use logical 'and' and 'or' operators.

Logical and returns true when we want the conditions on both side of 'and' to be true.

In [0]:
num = 50

if num < 100 and num > 0:
    print("Num lies in between 0 and 100")

Num lies in between 0 and 100

Logical or returns true if the condition on anyone side of 'or' true.

In [0]:
num = 10

if num == 0 or num > 10:
    print("Num is morethan or equal to 0")

###Problem Statement

Now that we know how to use the conditional statements let's solve a problem.

**Leap year problem**

Let's write a program to find if the given year is leap year or not.

In [61]:
12%5 == 0

False

In [63]:
#Program to find no. of days in a month
year = int(input("Enter the year : "))

if (year % 4 == 0) and (not(year % 100 == 0) or (year % 400 == 0)):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter the year : 2000
2000 is a leap year.

In [65]:
# Program to control traffic signal commands
code = input("Enter the color of signal (Red/Green/Yellow):")

if code == 'Red':
    print("STOP")
elif code == 'Green':
    print("GO")
elif code == 'Yellow':
    print("READY")
else:
    print("Invalid option please enter correct color code!")

Enter the color of signal (Red/Green/Yellow):Pink
Invalid option please enter correct color code!

##Iteration Statements

These statements are used when we want to iterate a particular block of code multiple times.

###For loop

A for loop is used for iterating over a sequence.

### Range function

In [70]:
print(list(range(30, 1, -2)))

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

Iterating through lists, tuples, sets can be done in the same manner.

To execute a statement to a specified number of times we use the **range()** method.

In [77]:
#To print upto a number
for num in range(15, 0 , -2):
    print(num)  # repeate many times

15
13
11
9
7
5
3
1

In [76]:
# To iterate from a number to another

for num in range(5, 10):
    print(num)

5
6
7
8
9

In [80]:
# To iterate from a number to another with a specific interval
for num in range(30, 1 , -2):
    print(num, end = ' ')

30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

###Else with a for loop

else is used with a for loop to execute a set of statements after a loop has finished.

In [82]:
#Else with a for loop

for num in range(11, 2, -1):
    print(num)
else:
    print("Printed upto 10")

11
10
9
8
7
6
5
4
3
Printed upto 10

### Program for factorial

In [87]:
num = int(input("Enter a number : "))

factorial = 1

if num >= 1:

    for i in range (1, num + 1):  # range function exclude the second argument
        factorial = factorial * i

print("Factorial of ",num , " is : ",factorial)

Enter a number : 100
Factorial of  100  is :  93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

###Nested for loop

A for loop inside a for loop.

###While Loop

This loop is used to execute a block untill a certain condition is true.

In [89]:
#While loop
user = "Happy"
pswd = "123"

ans = ""

while ans != pswd:
    ans = input("Enter password : ")

    if ans == pswd:
        print("Password matched")

    else:
        print("Wrong password Try again!")

Enter password : 123
Password matched

###Else with a while loop

else is used with a while loop to execute a set of statements after a loop has finished.

In [91]:
#While loop with else
user = "Happy"
pswd = "123"

ans = ""

while ans != pswd:
    ans = input("Enter password : ")

    if ans == pswd:
        print("Password matched")

    else:
        print("Wrong password Try again!")
else:
    print("{} verified his password.".format(user))

Enter password : qeqe
Wrong password Try again!
Enter password : rwew
Wrong password Try again!
Enter password : sasasa
Wrong password Try again!
Enter password : 123
Password matched
Happy verified his password.

In [0]:
print("Hello")

###Problem Statement

Now that we know enough about loops let's have a problem.


**Coin exchange Problem**

In this problem we will be having number displayed and what the user has to do is enter the coin value that sums up to the shown number.

In [0]:
import random

terminate = False
empty_str = ''

#start
while not terminate:

    amt = random.randint(1, 30)
    print("Enter coins that add up to", amt, "per line.\n")

    game_over = False
    total = 0

    while not game_over:
        valid = False

        while not valid:
            if total == 0:
                coin = input("Enter first coin : ") 
            else:
                coin = input("Enter next coin : ")           

            if coin in (empty_str, '1', '2', '5', '10'):
                valid = True
            else:
                print("Invalid entry")

        if coin == empty_str:
            if total == amt:
                terminate = True
                print('Correct!')
            else:
                print("Sorry- you only entered", total, "rupees.")

            game_over = True

        else:
            total += int(coin)

            if total > amt:
                print("Sorry - total amount exceeds", amt, "rupees.")
                game_over = True
        

        if game_over:
            coin = input('\nTry again (y/n)? : ')

            if coin == 'n':
                terminate = True

Enter coins that add up to 7 per line.

Enter first coin : 10
Sorry - total amount exceeds 7 rupees.

Try again (y/n)? : y
Enter coins that add up to 3 per line.

##Jump Statements

Jump statements in python are used to alter the flow of a loop like you want to skip a part of a loop or terminate a loop.

**continue statement**

This is used to skip the current execution and move on to next execution.

In [0]:
#Continue statement in a while loop

i = 0

while i < 6:
  i += 1

  if i == 3:
    continue

  print(i)

1
2
4
5
6

**break statement**

This is used to stop the execution and move to execution of code outside the block.

In [0]:
#break statement in a while loop

i = 0

while i < 6:
  i += 1

  if i == 4:
    break

  print(i)

1
2
3